.main__wrap {
    padding: 20px;
}
.main__wrap h2 {
  text-transform: uppercase;
  background: linear-gradient(45deg, #0c0d0e 33%, #b4b5b6 66%, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto;
}
.main__img {
  height: 60vh;
  display: block;
  margin: auto;
}