.messageItem__wrap {
margin-top: 50px;
}
.border__btn {
    border: 2px solid #000;
    border-radius: 15px;
    text-align: left;
    width: 300px;
    position: relative;
    margin-top: 15px;
    padding: 5px 10px;
}
.btn {
    position: absolute;
    margin-top: 10px;
    background-color: #000;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 10px;
    right: auto;
    top: -8px;
    right: 3px;
    cursor: pointer;
}
.btn:hover {
    background-color: #fff;
    color: #000;
}