.nav {
   grid-area: n;
   background-color: #ccc;
   padding: 30px;
   min-height: calc(100vh - 60px - 60px);
}
.item {
   padding-bottom: 10px;
}
.item a {
   color: #fff;
   text-decoration: none;
}
.item a:hover {
   color: #000;
}
.item a.activeLink::before {
   color: #000;
   text-decoration-line: underline;
   content: url(../images/yoda50.png);
   padding-right: 5px;
   border-radius: 5px;
}